Django==4.2.27
django-cleanup==8.0.0
pillow==10.4.0
opencv-python-headless==4.9.0.80
numpy==2.1.0
torch==2.1.2
torchvision==0.16.2
transformers==4.38.0
ultralytics==8.1.0
openai-whisper==20231117
sentence-transformers==2.2.2
moviepy==1.0.3
ffmpeg-python==0.2.0
celery==5.3.6
redis==5.0.1
requests==2.31.0
langchain==0.1.0
huggingface-hub==0.20.3
